<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ad27fca93.js" crossorigin="anonymous"></script>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>


    <title>Plagiarism Checker</title>
      <!-- <form action="http://localhost:5000" method="POST"> -->


         <div class="login-box">
            <h2>Plagiarism Checker</h2>
            <form id="mainform" action="{{ url_for('dashboard') }}" method="POST">
               <div class="user-box">
                  <textarea name="query" name="text" autofocus>Type here...</textarea>
                  <!-- <label>Type here</label> -->
               </div>
               <button type="submit" name="submit">Check</button>
               
               <!-- <button onclick="window.location.href = 'upload/upload.html';" class="button-look"><i class="fa-sharp fa-solid fa-link"></i> add pdf</button> -->
               <a href="/upload"  class="button-look noHover"><i class="fa-sharp fa-solid fa-link"></i> add pdf</a>
               <p><h3 class="output-text">{{output}}</h3></p>
               <a href="{{url_for('logout')}}">logout</a>
            </form>
         </div>   

        

      </form>

      {% if count %}
      <h1>plagiarism: {{result}} %</h1>
      {% endif %}


      <!-- {% if count %}
      <h2>Plagiarism:</h2>
      <ul>
         {% for word in result %}
         <li>{{ word }}</li>
         {% endfor %}
      </ul>
      <h1>{{count}}</h1>
      {% endif %} -->
      <!-- <script>
         function myFunction(){
            document.getElementById("mainform").submit();
         }
      </script> -->

    
</body>

</html>